* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(98, 80, 199);
    --secondary-color: orange;
}

header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}